<section class="container edit-thoughts ff-inter">
  <header class="header">
    <h2>Add a <br>new thought:</h2>
  </header>
  <form [formGroup]="formEdit">
    <label for="thought">Thought</label>
    <input
      type="text"
      class="input"
      id="thought"
      formControlName="description"
      placeholder="Type a thought"
    >
    <div class="message__erro" *ngIf="formEdit.get('description')?.errors && formEdit.get('description')?.touched">
      Thought is needed!
    </div>
    <label for="author">Author ou fonte</label>
    <input
      type="text"
      class="input"
      id="author"
      formControlName="author"
      placeholder="Type a author or fonte"
    >
    <div class="message__erro"
      *ngIf="formEdit.get('author')?.errors?.['required'] && formEdit.get('author')?.touched">
        Author is needed!
    </div>
    <div class="message__erro"
      *ngIf="formEdit.get('author')?.errors?.['minlength'] && formEdit.get('author')?.touched">
        Author needed a less than 3 characters!
    </div>
    <label for="case">Select a card case:</label>
    <div class="container-radio">
      <div class="radio-case">
        <label for="case1">
          <input
            type="radio"
            id="case1"
            value="case1"
            formControlName="case"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Case 1</span>
        </label>
        Preview:
        <div class="case case1 ff-roboto-mono">
          <img src="../../../../assets/images/case1.png" alt="Blue Quotes">
          <p class="description">{{ formEdit.get('description')?.value }}</p>
          <p class="author"><b>{{ formEdit.get('author')?.value}}</b></p>
        </div>
      </div>

      <div class="radio-case">
        <label for="case2">
          <input
            type="radio"
            id="case2"
            value="case2"
            formControlName="case"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Case 2</span>
        </label>
        Preview:
        <div class="case case2 ff-roboto-mono">
          <img src="../../../../assets/images/case2.png" alt="Lightblue Quotes">
          <p class="description">{{ formEdit.get('description')?.value }}</p>
          <p class="author"><b>{{ formEdit.get('author')?.value}}</b></p>
        </div>
      </div>

      <div class="radio-case">
        <label for="case3">
          <input
            type="radio"
            id="case3"
            value="case3"
            formControlName="case"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Case 3</span>
        </label>
        Preview:
        <div class="case case3 ff-roboto-mono">
          <img src="../../../../assets/images/case3.png" alt="Green Quotes">
          <p class="description">{{ formEdit.get('description')?.value }}</p>
          <p class="author"><b>{{ formEdit.get('author')?.value}}</b></p>
        </div>
      </div>
    </div>
    <div class="actions">
      <button
        [disabled]="!formEdit.valid"
        (click)="editThought()"
        [ngClass]="enableButton()"
        >Save
      </button>
      <button (click)="cancel()" class="button">Cancel</button>
    </div>
  </form>
</section>

