<section class="container">
  <header>Do your search</header>
  <div class="buttons">
    <button class="button" (click)="reloadComponente()">Reload Component</button>
    <button class="button" (click)="myFavorites()">My Favorites</button>
    <button routerLink="/createThought" class="button">New thought</button>
  </div>
  <div class="search">
    <input type="search" class="filter" placeholder="type your search..." autofocus [(ngModel)]="filter" (keyup)="searchThoughts()">
    <img src="assets/images/icon-search.png" alt="Lupa de cor roxa">
  </div>
  <p>Search by subject, author, even more...</p>
  <div class="mural" *ngIf="listThoughts.length > 0, else semThoughts">
    <ul class="list-thought">
      <li class="list-item" *ngFor="let thought of listThoughts">
        <app-thought [thought]="thought" [listFavorites]="listFavorites"></app-thought>
      </li>
    </ul>
  </div>
  <app-button-load-more [hasMoreThoughts]="hasMoreThoughts" (click)="loadMoreThoughts()">
  </app-button-load-more>
  <ng-template #semThoughts>
    <div class="ff-inter sem-thoughts">
      <p>No more thoughts found!</p>
    </div>
  </ng-template>
  <ng-template #telaInicial>
    <div class="images">
      <h1 class="titulo">Search all that <br> you want <br> in our database!</h1>
      <img class="ilustracao" src="../../assets/images/ilustracao-estante.png"
        alt="Search all that you want in our database">
    </div>
  </ng-template>
</section>